/* Reset box-sizing for all elements */
* {
    box-sizing: border-box;
}

/* Flex container for the body */

    .homebody {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 100vh;
        margin: 0;
        background-color: white;
        line-height: 1.5;
        background-image: url(./images/chefone.jpg);
        background-repeat: no-repeat;
        background-position: center top;
        background-size: cover;
    }

    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 100vh;
        margin: 0;
        background-color: white;
        line-height: 1.5;
        background-image: url(./images/stock);
        background-repeat: repeat;
        background-position: left;
        background-size: cover ;
    }
    

/* Style for main heading */
h1 {
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    font-style: oblique;
    color: red;
    margin: 20px;
    padding: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
}

/* Style for links */
a {
    text-decoration: none;
    font-size: 25px;
    color: red;
    border: 5px solid;
    margin: 50px 20px 20px;
    padding: auto;
}

a, .button {
    text-decoration: none;
    font-size: 25px;
    color: red;
    border: 5px solid;
    margin: 50px 20px 20px;
    font: bold 22px Arial;
    text-decoration: none;
    background-color: red;
    color: white;
    padding: 10px 20px; /* Adjust padding values accordingly */
    border-radius: 12px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    transition-duration: .2s;
}


a:hover, .button:hover {
    background-color: #04AA6D; /* Green */
    color: white;
}
/* Style for list items */
li {
    list-style: none;
    padding: 25px;
}

/* Center an element horizontally */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    object-fit: cover;
}

/* Style for paragraphs */
p {
    font-size: 20px;
}

/* Style for the footer */
footer {
    margin-top: 600px;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .homebody {
        background-image: cover; /* Remove background image for smaller screens */
    }


    h1 {
        font-size: 40px; /* Adjust heading font size for smaller screens */
        margin: 10px;
        padding: 10px;
    }

    a {
        font-size: 18px; /* Adjust link font size for smaller screens */
        margin: 20px 10px 10px;
    }

    a, .button {
        font-size: 18px; /* Adjust button font size for smaller screens */
        margin: 20px 10px 10px;
        padding: 10px;
        display: block;
    }

    li {
        padding: 15px; /* Adjust list item padding for smaller screens */
        
    }

    .center {
        width: 80%; /* Adjust center element width for smaller screens */
    }

    p {
        font-size: 16px; /* Adjust paragraph font size for smaller screens */
    }

    footer {
        margin-top: 10px; /* Adjust footer margin for smaller screens */
        text-align: center;
    }
}
